body { background: #8f676e; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 12px; display: flex; }
.block-search-0 { color: #bd4f6d; font-size: 21px; margin-bottom: 5px; }
.block-router-1 { color: #8bee4d; font-size: 16px; margin-bottom: 5px; }
.block-invoice-2 { color: #983b76; font-size: 12px; margin-bottom: 5px; }
.block-cart-3 { color: #6a95e6; font-size: 12px; margin-bottom: 5px; }
.block-sms-4 { color: #6b3d38; font-size: 19px; margin-bottom: 5px; }